<div class="block-layout-form" style="text-align: left">
    What are you training today?

    <label><span>Legs</span>        <input data-model="legs" type="checkbox"></label>
    <label><span>Chest</span>       <input data-model="chest" type="checkbox"></label>
    <label><span>Back</span>        <input data-model="back" type="checkbox"></label>
    <label><span>Shoulders</span>   <input data-model="shoulders" type="checkbox"></label>
    <label><span>Biceps</span>      <input data-model="biceps" type="checkbox"></label>
    <label><span>Triceps</span>     <input data-model="triceps" type="checkbox"></label>

    <label><span>Cardio</span>      <input data-model="cardio" type="checkbox"></label>
</div>
