<ul class="footer-nav carousel{{^banner}}-complete{{/banner}}" data-iterations="1" data-first="1" data-final="start" data-duration="1">
    {{#banner}}
        <li class="tile footer-heading">what's yours?</li>
    {{/banner}}
    <li class="tile footer-item"><a href="/goals/weight-loss">weight loss</a></li>
    <li class="tile footer-item"><a href="/goals/lean-muscle">lean muscle</a></li>
    <li class="tile footer-item"><a href="/goals/strength">strength &amp; power</a></li>
</ul>
