
{{! meta, page by page meta data }}

<meta name="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width">

<link href="http://fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet">
<link rel="stylesheet" href="/{{ version }}/css/index.css">

<title>
    my gym thing
</title>
