
<div class="header-content">
    <p>Welcome back, {{firstName}}{{^firstName}}you{{/firstName}}!</p>
    <p>Why not try tracking your <a href="/diet">diet</a>, or start a <a href="/workout">workout</a></p>
    <p></p>
    <span class="header-text header-small">my gym thing</span>
</div>
