
.carousel {
   position: relative;
   overflow: hidden;
   min-height: 100%;
   white-space: nowrap;

   .tile {
      display: block;
      width: 100%;
      height: 100%;
      opacity: 0;

      &.deactivated, &.active {
         transition: all linear 250ms;
      }

      &.active {
         opacity: 1;
      }
   }

   &.no-transformations {
      .tile {
         position: absolute;
         z-index: 0;
      }

      .active {
         display: block;
         z-index: 1;
      }
   }

   &.with-transformations {
      .tile {
         position: absolute;
         transform: translateX(100%);
      }

      .deactivated {
         transform: translateX(-100%);
      }

      .active {
         transform: translateX(0%);
      }
   }

   &.carousel-complete {
      .tile {
         transform: none;
         transition: none;
         position: relative;
      }

      .tile:nth-child(1) {
         opacity: 1;

      }
      .tile:nth-child(n+2) {
         transition: opacity linear 250ms;
         opacity: 1;
         font-size: 30pt;
         width: 30%;
         display: inline-block;
         text-align: center;
         white-space: normal;
         vertical-align: middle;
         line-height: 1;
      }
   }
}
