
@background-color: rgb(6, 131, 113);
@transition-duration: 250ms;

@tablet-screen-width: 768px;
@mobile-screen-width: 360px;

* {
   padding: 0;
   margin: 0;
}

.icon {
   font-family: Socialico;
}

.icon-extended {
   font-family: "Socialico Plus";
}

@import "fonts";
@import "layout";
@import "carousel";
@import "home";
