
@import "includes/variables";
@import "includes/fonts";


* {
   padding: 0;
   margin: 0;
}

html {
   font-family: 'Oswald', cursive;
   font-size: 70pt;
   height: 100%;
}

body {
   text-align: center;
   height: 100%;

   margin: 0;
}

@import "includes/header-footer";
@import "includes/nav";
@import "includes/forms";
@import "includes/buttons";
@import "includes/layout";

.icon {
   font-family: Socialico;
}

.icon-extended {
   font-family: "Socialico Plus";
}
