<script>
    require = {
        baseUrl: '/{{ version }}/js/',
        paths: {
            ko: 'ext/knockout-2.3.0',
            json: 'ext/require-json',
            text: 'ext/require-text.2.0.7',
            fragments: '/{{ version }}/fragments/',
            rest: '../..'
        }
    };
</script>
