<li><a class="icon" href="http://twitter.com/MyGymThing">T</a></li>
<li><a class="icon" href="http://www.facebook.com/MyGymThing">F</a></li>
<li><a class="icon icon-extended" href="http://instagram.com/MyGymThing">I</a></li>
