
.button, button {

   outline: none;
   padding: 4pt 12pt 6pt 12pt;
   vertical-align: middle;
   border-radius: 3px;
   border: 1px solid @input-border-color;
   background-color: @highlight-color;
   color: @background-color;
   font-weight: bold;

   &:hover, &:focus {
      box-shadow: 0 0 3px @background-color inset;
   }

   &:active {
      background-color: @highlight-color;
      color: @background-color;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.5) inset;
   }
}
