
.button, button {

   outline: none;
   padding: 3px 6px;
   vertical-align: middle;
   border-radius: 3px;
   border: 1px solid rgb(0, 128, 128, 0.5);

   &:focus {
      background-color: teal;
      color: white;
      box-shadow: 0 0 3px rgba(255, 255, 255, 0.5) inset;
   }

}
