
body > header, body > footer {
   height: 50%;
   position: relative;
}

body > header {
   background: white;
   color: teal;
   font-weight: bold;

   &:before {
      content: "";
      display: inline-block;
      width: 0;
      height: 90%;
   }

   .header-content {
      position: absolute;
      bottom: 0;
      font-size: 12pt;
      width: 100%;
   }

}

body > footer {
   background: teal;
   color: white;
}
