
<li><a class="icon" href="//twitter.com/MyGymThing">T</a></li>
<li><a class="icon" href="//www.facebook.com/MyGymThing">F</a></li>
<li><a class="icon icon-extended" href="//instagram.com/MyGymThing">I</a></li>
