<!doctype html>
<html>
    <head>
        {{>meta}}
    </head>

    <body>
        <nav>
            <ul>
                <li><a class="icon" href="http://twitter.com/MyGymThing">T</a></li>
                <li><a class="icon" href="http://www.facebook.com/MyGymThing">F</a></li>
                <li><a class="icon icon-extended" href="http://instagram.com/MyGymThing">I</a></li>
            </ul>
        </nav>
        <header>my gym thing</header>
        <footer>what's yours?</footer>
    </body>
</html>
