<!doctype html>
<html>
    <head>
        {{>meta}}
    </head>

    <body>
        <nav>
            <ul>
                {{>social-nav-items}}
            </ul>
        </nav>
        <header><span class="header-text">my gym thing</span></header>
        <footer>what's yours?</footer>
    </body>
</html>
