<!doctype html>
<html>
<head>
    {{>meta}}
</head>

<body>
<nav>
    <ul>
        {{>social-nav-items}}
    </ul>
</nav>
<header>
    <div class="header-content">
        <form action="/auth/register">
            <label><span>username</span> <input name="username"></label>
            <label><span>password</span> <input name="pasword" type="password"></label>
        </form>
    </div>
</header>
<footer>my gym thing</footer>
</body>
</html>
