<!doctype html>
<html>
    <head>
        {{>meta}}
        <title>Workouts</title>
    </head>

    <body>
        <nav class="social-nav">
            <ul>
                {{>social-nav-items}}
            </ul>
        </nav>

        <header>
            <div class="header-content column-layout">

                <section class="column actions-column">
                    <div data-if="workout">
                        <button data-action="new-activity">New Exercise</button>
                    </div>
                    <button data-click="start()">Start a workout</button>
                </section>

                <section class="column workout-content" data-if="workout">

                    <header data-text="workout.targets"></header>

                    <div data-repeat="workout.activities">
                        <span data-text="name"></span>
                    </div>

                </section>

                <section class="column">
                </section>
            </div>
        </header>

        <footer>my gym thing</footer>
        {{>require}}
        <script data-main="workouts" src="/{{ version }}/js/ext/require.2.1.6-min.js" async defer></script>
    </body>
</html>
