<h1>Lean Muscle Training</h1>
<article>
    <p>Training for lean muscle gains focuses on the hypertrophy growth of muscular tissue, a full body workout aimed
        with a mixture of functional, circuit and isolation training.</p>
    <p>The lean muscle gains programme lasts twelve weeks, building week on week to add complexity and variety to your
        gym routine, working on the body's natural response mechanism of specific response to induced demand - meaning
        that the more stress the muscles are put under, the bigger they grow.</p>

</article>
