<h1>Strength Training</h1>
<article>
    <p>Muscular strength, measured as the maximum force that can be pushed or lifted just once can be the focus of your
        gym routine. This programme is focused on helping you push out a single rep with the maximum weight
        possible.</p>
    <p>Muscular strength gains programmes last twelve weeks, with a whole-body workout base and focusing on strength
        and power increases in specific muscle groups.</p>

</article>
