<!doctype html>
<html>
    <head>
        <link href="http://fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet">
        <link rel="stylesheet" href="/{{ version }}/css/index.css">

        <meta name="viewport" content="width=device-width">
    </head>

    <body class="home-page {{^banner}}with-content{{/banner}}">
        {{> social-nav}}
        <header class="site-header"><a href="/">my gym thing</a></header>
        <section class="main{{^leanMuscle}} hidden{{/leanMuscle}}">{{> lean-muscle }}</section>
        <section class="main{{^weightLoss}} hidden{{/weightLoss}}">{{> weight-loss }}</section>
        <section class="main{{^strength}}   hidden{{/strength}}">{{>   strength }}</section>
        <footer>
            {{> footer-nav}}
        </footer>

        <script src="/{{ version }}/js/ext/jquery-1.11.2.min.js"></script>
        <script src="/{{ version }}/js/carousel.js"></script>
        <script src="/{{ version }}/js/home.js"></script>
    </body>
</html>
