<!doctype html>
<html>
    <head>
        <link href="http://fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet">
        <link rel="stylesheet" href="/{{ version }}/css/index.css">
    </head>

    <body>
        <nav>
            <ul>
                <li><a class="icon" href="http://twitter.com/MyGymThing">T</a></li>
                <li><a class="icon" href="http://www.facebook.com/MyGymThing">F</a></li>
                <li><a class="icon icon-extended" href="http://instagram.com/MyGymThing">I</a></li>
            </ul>
        </nav>
        <header>my gym thing</header>
        <footer>
            <ul class="carousel" data-iterations="1" data-first="1" data-final="start" data-duration="2">
                <li class="tile">what's yours?</li>
                <li class="tile">weight loss</li>
                <li class="tile">lean muscle</li>
                <li class="tile">strength &amp; power</li>
            </ul>
        </footer>

        <script src="/{{ version }}/js/ext/jquery-1.11.2.min.js"></script>
        <script src="/{{ version }}/js/carousel.js"></script>
    </body>
</html>
