<!doctype html>
<html>
    <head>
        {{> meta}}
    </head>

    <body class="with-no-footer with-social-footer">
        {{> social-nav}}
        <header class="site-header small">my gym thing</header>
        <section class="site-content">
            <p>Log in with:</p>
            <ul>
                <li><a class="icon big-icon" href="/auth/facebook">F</a></li>
                <li><a class="icon big-icon" href="/auth/google">G</a></li>
            </ul>
        </section>
    </body>
</html>
